<header>
    
    <h1>New {{pageTitle}}</h1>
    <p>hello yossi {{welcomeMessage}}</p>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <h2>{{screamIt 'yossi is the biggest one!'}}</h2>
</header>